.breadcrumb-wrapper {
  width: 100%;
}

.breadcrumb-list {
  .fa {
    font-size: 0.8rem;
    color: $gray-500;
  }
}

.breadcrumb-list-item {
  padding: 0 1rem;
  &.active {
    color: $gray-500;
  }
  .link {
    color: theme-color("primary");
    &:hover {
      color: $link-hover-color;
    }
  }
}
