// Common

.btn-custom {
  .fa.fa-left {
    margin-right: 0.5rem;
  }
  .fa.fa-right {
    margin-left: 0.5rem;
  }
}

// Sizes

.btn-md {
  font-size: $font-size-md;
}

// Colours

.btn-primary {
  &:hover {
    background: $blue-light;
    border-color: $blue-light;
  }
}
