.footer {
  @include display-flex-mixin(flex, row, space-between, center, nowrap);
  flex: 0 0 13rem;
  padding: 2rem 0;
  background: $blue-gray;
  color: $white;
  .list {
    & .link {
      color: $gray-100;
      &:hover {
        color: $white;
      }
    }
  }
}
