// Sidebar nav & banners

.sidebar-menu {
  background: $white;
  .link {
    @include display-flex-mixin(flex, row, space-between, center, nowrap);
    padding: 1.5rem;
    color: $gray-800;
    .fa {
      margin-left: 1rem;
      color: $gray-300;
    }
    &:hover {
      font-weight: $font-weight-bold;
      color: $blue-light;
      .fa {
        color: $blue-light;
      }
    }
  }
  .has-dropdown {
    position: relative;
    a.current {
      background: lighten($gray-100, 5%);
    }
  }
  .dropdown-sidebar-menu {
    position: absolute;
    top: 0;
    z-index: 10;
    display: none;
    background: $white;
    box-shadow: $box-shadow-default;
  }
}

.sidebar {
  .banner {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    width: 100%;
    min-height: 11rem;
    background: $white;
    border-radius: $border-radius-lg;
    border-left: 1rem solid $turquoise;
    .heading {
      font-size: $font-size-md;
    }
    .action-link {
      display: inline-block;
      margin-top: 1rem;
      color: $gray-700;
      &:hover {
        color: $gray-800;
      }
    }
    &:hover {
      box-shadow: $box-shadow-default;
    }
  }
}
