@import "./typography";

.box {
  display: inline-block;
  padding: 1.5rem;
  background: $white;
  box-shadow: $box-shadow-default;
}

.top-contacts {
  background-image: $linear-blue-gradient;
  color: $white;
  .nav-link {
    color: $white;
  }
}

.navbar-wrapper {
  background: $white;
}
