// Headings

.h1 {
  font-size: $h1-font-size;
}
.h2 {
  font-size: $h2-font-size;
}
.h3 {
  font-size: $h3-font-size;
}
.h4 {
  font-size: $h4-font-size;
}
.h5 {
  font-size: $h5-font-size;
}
.h6 {
  font-size: $font-size-base;
}


// Paragraphs

$font-size-md: 1.6rem;


// Heading groups

.complex-heading {
  @include display-flex-mixin(flex, row, space-between, flex-end, wrap);
  margin-bottom: 1.5rem;
  .link {
    font-size: $font-size-md;
    color: $gray-500;
    &:hover {
      color: $gray-700;
    }
  }
}


// Links

.link {
  @include link-mixin;
}

.achromatic-link {
  color: $gray-800;
  &:hover {
    color: $gray-900;
  }
}

.nav-link.disabled:hover {
  cursor: default;
}

.action-link {
  display: inline-block;
  margin-top: 1rem;
  color: $gray-700;
  .fa {
    font-size: $font-size-sm;
    color: $gray-300;
  }
  &:hover {
    color: $gray-800;
    .fa {
      color: $gray-500;
    }
  }
}


// Lists

.list {
  padding-left: 0;
  list-style: none;
}

.list_horizontal {
  display: flex;
  align-items: center;
}
