// Headings

.h1 {
  font-size: $h1-font-size;
}
.h2 {
  font-size: $h2-font-size;
}
.h3 {
  font-size: $h3-font-size;
}
.h4 {
  font-size: $h4-font-size;
}
.h5 {
  font-size: $h5-font-size;
}
.h6 {
  font-size: $font-size-base;
}


// Paragraphs

$font-size-md: 1.6rem;


// Cases

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}


// Links

.link {
  @include link-mixin;
}

.nav-link.disabled:hover {
  cursor: default;
}


// Lists

.list {
  padding-left: 0;
  list-style: none;
}

.list_horizontal {
  display: flex;
  align-items: center;
}
