// Display

@mixin display-flex-mixin($display, $direction, $justify_content, $align_items, $flex_wrap) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify_content;
  align-items: $align_items;
  flex-wrap: $flex_wrap;
}


// Effects

@mixin transition-mixin($property, $duration, $t-func, $delay) {
  transition: $property $duration $t-func $delay;
}


// Typography

@mixin set-case($case) {
  text-transform: $case
}

@mixin link-mixin {
  display: inline-block;
  background-color: $transparent;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
