@import "./variables";

.html {
  line-height: $line-height-base;
  font-family: $font-family-base;
  font-size: 10px;
  font-weight: $font-weight-normal;
  color: $body-color;
}

.html, .body {
  min-height: 100vh;
}

.body {
  background: $body-bg;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-block {
  display: flex;
  flex: 1 0 auto;
}

.box {
  display: inline-block;
  padding: 1.5rem;
  background: $white;
  box-shadow: $box-shadow-default;
}
