@import "./variables";

.html {
  line-height: $line-height-base;
  font-family: $font-family-base;
  font-size: 10px;
  font-weight: $font-weight-normal;
  color: $body-color;
}

.html, .body {
  min-height: 100%;
}

.body {
  background: $body-bg;
  &.modal-open {
    padding-right: 0px !important;
  }
}

.app-wrapper {
  @include display-flex-mixin(flex, column, flex-start, stretch, nowrap);
  height: 100%;
}

.main-block {
  @include display-flex-mixin(flex, row, flex-start, stretch, nowrap);
  flex: 1 0 auto;
  padding: 1.5rem 0;
  .row {
    min-width: 100%;
  }
}

.box {
  display: inline-block;
  padding: 1.5rem;
  background: $white;
  box-shadow: $box-shadow-default;
}

*:hover {
  @include transition-mixin(all, .3s, linear, 0s);
}


// Content blocks

.content-box {
  padding: 1.5rem 0;
}

.top-products {
  margin-top: 3rem;
}
