// * Custom vars *

// Colours & lightness

$opacity-default: .8;

$linear-blue-gradient: linear-gradient(to right, #1F98AF, #037AAD 75%);

$blue-gray: #7B899C;
$blue-light: #2F80ED;
$turquoise: #1F98B0;

// Shadows

$box-shadow-default: 0 .2rem .3rem rgba($black, .15);


// Component's styles
// nav & navbar

$nav-padding-lg: 0.5rem 2rem;

// borders

$border-radius-xlg: .5rem;
